name: Update Version on Release

on: [push]

permissions: write-all

jobs:
  update_version:
    name: "[chore] Merge pull request from development to release"
    runs-on: ubuntu-latest
    timeout-minutes: 8
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: development

      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - name: Run yarn all-aboard
        run: |
          git config --global user.email "spbsparky@gmail.com"
          git config --global user.name "Sunil Babu"
          git remote set-url origin https://sunilprasanna:${{ secrets.MERGE_TOKEN }}@github.com/sunilprasanna/sunilprasanna.git 
          export MERGE-TOKEN ${{ secrets.MERGE_TOKEN }}
          yarn add semver
          yarn all-aboard

      - name: Create a pull request
        shell: bash
        if: ${{ steps.check-pr.outputs.num == '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.MERGE_TOKEN }}
        run: |
          git fetch origin development release
          code=$(git diff --exit-code --quiet origin/development...origin/release || echo $?)
          if [ $code -ne 0 ]; then
            gh pr create -H release -B development -t "${{github.event.release.name}}" -b "$${{github.event.release.name}} merge to release"
          fi
      - name: Merge a pull request if exist
        shell: bash
        id: merge-pr
        env:
          GITHUB_TOKEN: ${{ secrets.MERGE_TOKEN }}
        run: |
          num=$(gh api repos/:owner/:repo/pulls -q ".[] | select(.head.ref  == \"release\") | select(.base.ref == \"development\") | .number")
          if [ -n "$num" ]; then
            gh pr merge ${num} --merge --admin
            echo "num=$num" >> $GITHUB_OUTPUT
          fi

      - name: Slack Staging Notification
        uses: bryannice/gitactions-slack-notification@2.0.0
        env:
          SLACK_INCOMING_WEBHOOK: ${{ secrets.SLACK_INCOMING_WEBHOOK }}
          SLACK_MESSAGE: "The staging release has been merged for the backend"
          SLACK_TITLE: "Staging Release"
